<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="../styles/catalogo.css" />
  </head>
  <body>
    <main class="main">
      <div class="nav-container">
        <nav>
          <a href="/"><h1>Nutri Nutri</h1></a>
          <div class="search-box">
            <input id="search-input" placeholder="Buscar" />
            <div class="search"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" id="search"><path
                  fill="#200E32"
                  d="M19.7555474,18.6065254 L16.3181544,15.2458256 L16.3181544,15.2458256 L16.2375905,15.1233001 C16.0877892,14.9741632 15.8829641,14.8901502 15.6691675,14.8901502 C15.4553709,14.8901502 15.2505458,14.9741632 15.1007444,15.1233001 L15.1007444,15.1233001 C12.1794834,17.8033337 7.6781476,17.94901 4.58200492,15.4637171 C1.48586224,12.9784243 0.75566836,8.63336673 2.87568494,5.31016931 C4.99570152,1.9869719 9.30807195,0.716847023 12.9528494,2.34213643 C16.5976268,3.96742583 18.4438102,7.98379036 17.2670181,11.7275931 C17.182269,11.9980548 17.25154,12.2921761 17.4487374,12.4991642 C17.6459348,12.7061524 17.9410995,12.794561 18.223046,12.7310875 C18.5049924,12.667614 18.7308862,12.4619014 18.8156353,12.1914397 L18.8156353,12.1914397 C20.2223941,7.74864367 18.0977423,2.96755391 13.8161172,0.941057725 C9.53449216,-1.08543846 4.38083811,0.250823958 1.68905427,4.08541671 C-1.00272957,7.92000947 -0.424820906,13.1021457 3.0489311,16.2795011 C6.5226831,19.4568565 11.8497823,19.6758854 15.5841278,16.7948982 L18.6276529,19.7705177 C18.9419864,20.0764941 19.4501654,20.0764941 19.764499,19.7705177 C20.0785003,19.4602048 20.0785003,18.9605974 19.764499,18.6502845 L19.764499,18.6502845 L19.7555474,18.6065254 Z"
                  transform="translate(2 2)"></path></svg></div>
          </div>
          <ul>
            <li><a id="filter" href="#">Filtrar</a></li>
            <li><a href="/solicitarMenu">Solicitar Menu</a></li>
            <li class="user">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                width="40" height="40"
                id="user"><path fill="#231f20"
                  d="M7.763 2A6.77 6.77 0 0 0 1 8.763c0 1.807.703 3.505 1.98 4.782a6.718 6.718 0 0 0 4.783 1.981 6.77 6.77 0 0 0 6.763-6.763A6.77 6.77 0 0 0 7.763 2ZM3.675 13.501a5.094 5.094 0 0 1 3.958-1.989c.024.001.047.007.071.007h.023c.022 0 .042-.006.064-.007a5.087 5.087 0 0 1 3.992 2.046 6.226 6.226 0 0 1-4.02 1.468 6.212 6.212 0 0 1-4.088-1.525zm4.032-2.494c-.025 0-.049.004-.074.005a2.243 2.243 0 0 1-2.167-2.255 2.246 2.246 0 0 1 2.262-2.238 2.246 2.246 0 0 1 2.238 2.262c0 1.212-.97 2.197-2.174 2.232-.028-.001-.056-.006-.085-.006Zm4.447 2.215a5.594 5.594 0 0 0-3.116-2.052 2.749 2.749 0 0 0 1.428-2.412A2.747 2.747 0 0 0 7.704 6.02a2.747 2.747 0 0 0-2.738 2.762 2.73 2.73 0 0 0 1.422 2.386 5.602 5.602 0 0 0-3.081 1.995 6.22 6.22 0 0 1-1.806-4.398 6.27 6.27 0 0 1 6.263-6.263 6.27 6.27 0 0 1 6.263 6.263 6.247 6.247 0 0 1-1.873 4.457z"></path></svg>
            </li>
          </ul>
        </nav>
      </div>

      <!--BANNER-->
      <section class="banner">
        <div class="contenedor-banner">
          <img src="../img/plato-camaron.png" alt="plato-camaron" loading="lazy">
          <div class="text-content">
            <h2>NUTRI RECETAS</h2>
            <h5>Comnina lo dulce de la vida en un solo plato</h5>
            <div class="btn-ir">
              <a href="/menu"><p>Ir a ver</p></a>
            </div>
          </div>
          <img src="../img/woman-fashion.png" alt="woman-fashion" loading="lazy">
        </div>

      </section>

      <!--FILTER-->
      <section class="filter">
        <form action class="form-ingredient">
          <div class="list-ingredient">
            <h3>Mis Ingredientes</h3>
            <div class="lista">
              <p class="element">ajo<span id="element-btn"><svg
                    xmlns="http://www.w3.org/2000/svg" height="20px"
                    enable-background="new 0 0 47.5 47.5"
                    viewBox="0 0 47.5 47.5" id="x"><defs><clippath id="a"><path
                          d="M0 38h38V0H0v38Z"></path></clippath></defs><g
                      clip-path="url(#a)"
                      transform="matrix(1.25 0 0 -1.25 0 47.5)"><path
                        fill="#3b88c3"
                        d="M0 0a4 4 0 0 0-4-4h-28a4 4 0 0 0-4 4v28a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4V0Z"
                        transform="translate(37 5)"></path><path fill="#fff"
                        d="m0 0-5.022 6.821c-.311.403-.497.868-.497 1.365 0 1.364 1.023 2.263 2.357 2.263.775 0 1.581-.527 2.015-1.147l3.845-5.457 3.844 5.457c.435.62 1.241 1.147 2.015 1.147 1.334 0 2.358-.899 2.358-2.263 0-.497-.186-.962-.497-1.365L5.395 0l6.139-8.248c.248-.341.527-.93.527-1.581 0-1.303-.992-2.17-2.355-2.17-.838 0-1.457.371-1.923 1.022l-5.085 7.07-5.085-7.07c-.466-.651-1.086-1.022-1.923-1.022-1.364 0-2.356.867-2.356 2.17 0 .651.279 1.24.527 1.581L0 0Z"
                        transform="translate(16.304 19.814)"></path></g></svg>
                </span></p>

            </div>
          </div>
          <div class="suggestion">
            <h3>Sugerencias</h3>
            <div class="content-suggestion">
              <p id="ingredient">Aji</p>
              <p id="ingredient">Aji</p>
              <p id="ingredient">Ajo</p>
              <p id="ingredient">Cebolla</p>
              <p id="ingredient">Tomate</p>
              <p id="ingredient">Pimiento</p>
              <p id="ingredient">Zanahoria</p>
              <p id="ingredient">Papa</p>
              <p id="ingredient">Arroz</p>
              <p id="ingredient">Pollo</p>
              <p id="ingredient">Carne de res</p>
              <p id="ingredient">Pescado</p>
              <p id="ingredient">Salmon</p>
              <p id="ingredient">Huevo</p>
              <p id="ingredient">Lechuga</p>
              <p id="ingredient">Espárragos</p>
              <p id="ingredient">Brócoli</p>
              <p id="ingredient">Calabacín</p>
              <p id="ingredient">Aceite de oliva</p>
              <p id="ingredient">Vinagre balsámico</p>
              <p id="ingredient">Limón</p>
              <p id="ingredient">Cilantro</p>
            </div>
          </div>
          <div class="options">
            <button>Agregar Ingrediente</button>
            <button>Filtrar</button>
          </div>
        </form>

      </section>

      <!--CONTENT-->
      <section class="content">
        <!--CARD-->
        <% platos.forEach((plato)=>{%>
        
        <div class="card">
          <div class="img-card">
            <img src="<%=plato.imagen%>" onerror="this.src='../img/plato-pescado.jpg'" alt="plato-pescado"
              loading="lazy" />
          </div>
          <div class="card-content">
            <div class="title">
              <h5><%= plato.nombre%></h5>
              <div class="star">
                <button><svg xmlns="http://www.w3.org/2000/svg" width="23"
                    height="23" data-name="Layer 1" viewBox="0 0 512 512"
                    id="face-savoring-food"><circle cx="256" cy="256" r="219.5"
                      fill="#fdd402"></circle><path fill="#e5303e"
                      d="M209.10013,369.91957l-74.95331,74.95332a54,54,0,0,1-76.36754-76.36753L132.7326,293.552,165.5,336.5Z"></path><path
                      fill="#2c2b2d"
                      d="M416.51465,95.48535a227.034,227.034,0,0,0-361.48,266.15759l-3.05908,3.05921a61.50035,61.50035,0,0,0,86.97461,86.97461l.72827-.72827A227.00909,227.00909,0,0,0,416.51465,95.48535Zm-288.17188,345.584A46.49952,46.49952,0,1,1,62.583,375.30859l68.54126-68.54126a131.68979,131.68979,0,0,0,21.37134,33.782L108.544,384.501a7.50058,7.50058,0,0,0,10.60742,10.60742l43.82934-43.82935A132.96949,132.96949,0,0,0,196.022,373.39087ZM256,468a211.3352,211.3352,0,0,1-105.35986-28.01294l60.55444-60.55371A131.83529,131.83529,0,0,0,252.5,386h7a132.58695,132.58695,0,0,0,127.793-97.37793,7.50014,7.50014,0,1,0-14.4668-3.96484A117.429,117.429,0,0,1,259.5,371h-7a117.418,117.418,0,0,1-113.32715-86.334,7.49971,7.49971,0,1,0-14.46484,3.96875c.23779.86694.49389,1.72607.74829,2.58569l-59.262,59.26269A212.35658,212.35658,0,0,1,44,256C44,139.10254,139.10254,44,256,44s212,95.10254,212,212S372.89746,468,256,468ZM165.5,159A35.53965,35.53965,0,0,0,130,194.5a7.5,7.5,0,0,0,15,0,20.5,20.5,0,0,1,41,0,7.5,7.5,0,0,0,15,0A35.53965,35.53965,0,0,0,165.5,159Zm181,0A35.53965,35.53965,0,0,0,311,194.5a7.5,7.5,0,0,0,15,0,20.5,20.5,0,0,1,41,0,7.5,7.5,0,0,0,15,0A35.53965,35.53965,0,0,0,346.5,159Z"></path></svg></button>
                <button><svg xmlns="http://www.w3.org/2000/svg" width="23"
                    height="23" data-name="Layer 1" viewBox="0 0 512 512"
                    id="face-with-open-mouth"><circle cx="256" cy="256"
                      r="219.5" fill="#fdd402"></circle><circle cx="165.5"
                      cy="194.5" r="28" fill="#74563a"></circle><circle
                      cx="346.5" cy="194.5" r="28" fill="#74563a"></circle><circle
                      cx="256" cy="344.5" r="75.5" fill="#74563a"></circle><path
                      fill="#2c2b2d"
                      d="M201,194.5A35.5,35.5,0,1,0,165.5,230,35.54028,35.54028,0,0,0,201,194.5ZM165.5,215A20.5,20.5,0,1,1,186,194.5,20.52325,20.52325,0,0,1,165.5,215Zm181-56A35.5,35.5,0,1,0,382,194.5,35.54028,35.54028,0,0,0,346.5,159Zm0,56A20.5,20.5,0,1,1,367,194.5,20.52325,20.52325,0,0,1,346.5,215ZM256,261.5a83,83,0,1,0,83,83A83.094,83.094,0,0,0,256,261.5Zm0,151a68,68,0,1,1,68-68A68.07728,68.07728,0,0,1,256,412.5ZM416.51318,95.48682A227.00009,227.00009,0,0,0,95.48682,416.51367,227.00009,227.00009,0,0,0,416.51318,95.48682ZM256,468C139.103,468,44,372.89746,44,256,44,139.103,139.103,44,256,44s212,95.103,212,212C468,372.89746,372.897,468,256,468Z"></path></svg></button>
                <button><svg xmlns="http://www.w3.org/2000/svg" width="23"
                    height="23" data-name="Layer 1" viewBox="0 0 512 512"
                    id="face-vomiting"><circle cx="256" cy="256" r="219.5"
                      fill="#fdd402"></circle><path fill="#74563a"
                      d="M369.5,367.00015a635.56033,635.56033,0,0,0-227.00006,0c4.218-10.28565,15.58124-33.94141,41.34967-51,25.76971-17.05908,51.20215-17.76026,66.99817-18.1958,15.71582-.43311,45.75391-1.26123,75.67395,18.1958C352.18729,332.69058,364.42606,355.632,369.5,367.00015Z"></path><path
                      fill="#74bf4b"
                      d="M179.13275,346.80444c1.23926,6.19092,8.429,43.49707-.28491,68a51.15021,51.15021,0,0,1-7,14c-8.75531,12.0586-16.57166,10.69092-22,19-7.33539,11.22852-4.13324,30.67237,7,42,1.49878,1.52491,8.9422,9.09864,20,10,11.69891.95362,13.05609-6.7334,25-7,12.56018-.28027,15.227,8.12744,34,10a53.73467,53.73467,0,0,0,13,0c13.51953-1.73877,15.96338-7.64843,26-9,10.06641-1.35547,11.2688,4.09668,26,6,6.2124.80274,18.26611,2.36035,29-3,14.85181-7.4165,24.55676-26.76855,22-43-2.8396-18.02685-18.90112-20.12988-28-38-6.26685-12.3081-9.71924-33.05517,6.76977-69.09179a162.26887,162.26887,0,0,0-151.48486.09179Z"></path><path
                      fill="#2c2b2d"
                      d="M416.51465,95.48535a227.013,227.013,0,1,0-276.41754,355.7312c-4.29608,13.94873.08276,32.32886,11.40484,43.84888,7.03028,7.14941,15.81543,11.4873,24.73682,12.21484,8.3457.67481,13.18164-2.01757,17.062-4.18652,2.80908-1.57031,4.83936-2.7041,8.71436-2.791,4.20556-.06152,6.63086,1.13086,10.66406,3.15918a57.453,57.453,0,0,0,22.42383,6.80567,71.44054,71.44054,0,0,0,7.49414.43457,56.36867,56.36867,0,0,0,7.20752-.459,47.006,47.006,0,0,0,17.67773-5.88769c2.939-1.55176,5.062-2.67285,8.36621-3.11817,3.32178-.44531,4.6875.13282,7.98828,1.53223a55.437,55.437,0,0,0,16.04981,4.47363c6.66406.86133,20.53271,2.65235,33.312-3.72851,16.13422-8.05762,27.064-27.31763,26.54077-45.563A227.0447,227.0447,0,0,0,416.51465,95.48535ZM326.49707,490.09473c-8.68945,4.33789-19.09619,2.99414-24.68848,2.27148A40.5126,40.5126,0,0,1,289.69238,488.96c-4.15478-1.76172-8.45068-3.58691-15.8457-2.58789a37.17508,37.17508,0,0,0-13.36914,4.71973,32.27655,32.27655,0,0,1-12.58691,4.27441,46.6366,46.6366,0,0,1-11.29834-.02441,43.242,43.242,0,0,1-17.17383-5.28125c-4.8208-2.42481-9.79248-4.918-17.73828-4.75391A30.99051,30.99051,0,0,0,185.9834,489.999c-3.04639,1.70411-4.72217,2.64356-8.52637,2.33008-5.33349-.43457-10.75293-3.19824-15.26025-7.78125-8.61231-8.76367-11.50586-24.32129-6.07032-32.6416,1.48145-2.26758,3.13477-3.2998,6.438-5.23828a44.771,44.771,0,0,0,15.35254-13.457,58.754,58.754,0,0,0,7.99707-15.89356c6.27521-17.6455,5.03321-40.95068,3.01526-56.864-.00525-.05444-.00445-.10791-.01086-.16235-.00885-.0752-.02643-.14673-.03742-.2212-.83142-6.4685-1.78326-11.68579-2.39422-14.73779a7.5,7.5,0,1,0-14.708,2.94531c.412,2.05811.80206,4.2,1.16644,6.39844q-8.67232,1.1294-17.33343,2.49219a102.03867,102.03867,0,0,1,32.37841-34.91406c23.96827-15.86719,47.4834-16.52246,63.08448-16.957,15.16943-.418,43.4082-1.1875,71.35693,16.99121a107.95678,107.95678,0,0,1,33.43262,34.79882q-10.15375-1.59375-20.36609-2.85791.92614-2.1731,1.93933-4.395a7.50008,7.50008,0,1,0-13.63965-6.24218q-3.35614,7.33448-5.81775,14.25171c-.06939.17993-.13452.36206-.19031.54907-8.56988,24.3584-8.79492,44.77-.62573,60.81543,4.65967,9.15039,10.73145,14.585,16.08887,19.37988,5.81592,5.20508,10.01758,8.96582,11.186,16.38379C346.51025,468.11914,338.294,484.20313,326.49707,490.09473Zm29.72668-47.2334c-3.2843-6.76538-8.339-11.30811-12.96691-15.4502-4.80274-4.29883-9.33936-8.3584-12.72559-15.00879-5.6972-11.18994-5.80988-25.83838-.36646-43.69653,12.70807,1.51172,25.45972,3.39893,37.99585,5.67407a7.5005,7.5005,0,0,0,8.18946-10.43457c-7.0166-15.73535-20.64746-37.917-45.74072-54.23242-31.86622-20.72559-64.33985-19.83984-79.99317-19.40918-16.21826.45215-43.36182,1.208-70.90625,19.44238-24.77246,16.39942-37.68164,38.63868-44.14892,54.40821a7.49957,7.49957,0,0,0,8.27929,10.22461c10.23425-1.85889,20.633-3.46485,31.01123-4.8169,1.38,15.29248.989,31.31568-3.0708,42.731a43.66317,43.66317,0,0,1-6.00195,12.10547c-3.78516,5.21289-7.19531,7.21386-10.80615,9.333a41.55,41.55,0,0,0-6.92,4.76293A212.27257,212.27257,0,0,1,44,256C44,139.10254,139.103,44,256,44s212,95.10254,212,212C468,334.99756,425.392,405.82007,356.22375,442.86133Zm14.4076-283.10449a7.50223,7.50223,0,0,0-10.3711-2.22266l-56.66894,36.66895a7.5,7.5,0,0,0,0,12.59375l56.66894,36.66894a7.5,7.5,0,1,0,8.14844-12.59375L321.47119,200.5l46.9375-30.37207A7.49978,7.49978,0,0,0,370.63135,159.75684ZM208.40869,194.20313l-56.66894-36.66895a7.5,7.5,0,1,0-8.14844,12.59375L190.52881,200.5l-46.9375,30.37207a7.5,7.5,0,1,0,8.14844,12.59375l56.66894-36.66894a7.5,7.5,0,0,0,0-12.59375Z"></path></svg></button>
              </div>
            </div>
            <h6><%= plato.nombre_cocinero%></h6>
            <a href="/detalle" class="detalle-card"><h6>Detalle</h6></a>
          </div>
        </div>
        <% })%>


      </section>
    </main>
    <script src="../js/catalogo.js"></script>
  </body>
</html>