<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutri Nutri</title>
    <!--MY STYLES-->
    <link rel="stylesheet" href="../styles/home.css" />

  </head>
  <body>
    <main>
      <div class="nav-container">
        <nav class="">
          <h1 id="logo">Nutri-Nutri</h1>
          <ul>
            <li><a href="/catalogo">Catalogo</a></li>
          </ul>
          <a class="login" href="/login">Registrate</a>
        </nav>
        <!--SEGUNDO NAV-->
        <nav class="">
          <h1 id="logo">Nutri-Nutri</h1>
          <ul>
            <li><a href="/catalogo">Catalogo</a></li>
            <li><a href="/validacion">Ser Cocinero</a></li>

          </ul>
          <div class="cliente">
            <a class="#" href="/cliente"><img src="../img/default"
                onerror="this.src='../img/default_foto.png'" alt="user"></a>
          </div>

        </nav>

      </div>
      <section class="home">
        <div class="showcase">
          <h2>Vida y Salud</h2>
          <h3>Una dieta balanceada, un estilo de vida equilibrado.</h3>
          <img class="imagen-plato" src="../img/ensalada.png" width="55%" />
          <div class="info">
            <h4>Genera tus dietas personalizadas</h4>
          </div>

        </div>
      </section>

    </main>
    <script src="../js/home.js"></script>
  </body>
</html>