<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <main>
      <div class="content-login">
        <h2>Registrate</h2>
        <h3>Hazlo con</h3>
        <div class="recomendaciones">
          <a href="#" class="link google">
            <img
              src="https://img.icons8.com/?size=512&id=V5cGWnc9R4xj&format=png"
              width="30px" />
            <h6>Registro con Google</h6>
          </a>
          <a href="#" class="link facebook">
            <img src="https://img.icons8.com/?size=512&id=118497&format=png"
              width="30px" />
            <h6>Registro con Facebook</h6>
          </a>
        </div>
        <form action="/login/nuevo" method="POST" >
          <section id="input-datos">
            <div class="dato nombre">
              <h6>Nombre</h6>
              <input id="nombre" name="nombre" type="text" />
            </div>
            <div class="dato correo">
              <h6>Correo</h6>
              <input id="correo" name="correo" type="email" />
            </div>
            <div class="dato contrase単a">
              <h6>Contrase単a</h6>
              <input id="contrase単a" name="contrase単a" type="password" />
            </div>
          </section>

          <input type="submit" value="GO">
        </form>
        <a class="link-go" href="/estadoMedico">GO</a>
        <div class="login">
          <h6>Tienes una cuenta?</h6>
          <a href="/">Iniciar Sesion</a>
        </div>

      </div>
      <div class="img-login">
        <img src="../img/img-sentada.jpg" alt="ilustracion-login" />
      </div>
    </main>
  </body>
</html>