@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
nav {
  padding: 2rem 1rem 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 4rem;
}
nav .search-box {
  border: 1px solid rgba(0, 0, 0, 0.4862745098);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .search-box input {
  width: 30rem;
  padding-left: 5px;
  height: 1.5rem;
  border: none;
  border-radius: 10px;
  outline: none;
}
nav .search-box input:focus {
  border: none;
}
nav .search-box .search {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.4745098039);
}

/*BANNER*/
.banner .contenedor-banner {
  background-color: #f3f3f3;
  margin: 0 5rem 0 5rem;
  padding: 3rem 5rem 0 5rem;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.banner .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .btn-ir {
  margin-top: 3rem;
  background-color: #000;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .btn-ir p {
  color: #fff;
}
.banner .btn-ir:hover {
  cursor: pointer;
}

.filter {
  display: none;
  padding: 5rem;
}
.filter .form-ingredient {
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.1529411765);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter .form-ingredient .list-ingredient {
  padding: 4rem;
  justify-self: center;
  min-width: 40%;
  border-right: 1px solid rgba(0, 0, 0, 0.1921568627);
}
.filter .form-ingredient .list-ingredient .lista {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.filter .form-ingredient .list-ingredient .lista .element {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137254902);
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter .form-ingredient .list-ingredient .lista .element #element-btn {
  padding-right: 1rem;
  cursor: pointer;
}
.filter .suggestion {
  padding: 4rem;
  justify-self: center;
  max-width: 60%;
}
.filter .suggestion .content-suggestion {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.filter .suggestion #ingredient {
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2196078431);
  border-radius: 10px;
  margin: 1rem 1rem;
  background-color: #f8f8f8;
  cursor: pointer;
}
.filter .options {
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
}
.filter .options button {
  border-radius: 10px;
  border: none;
  background: #15205f;
  box-shadow: 3px 3px 3px rgba(21, 32, 95, 0.2549019608);
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
}

.content {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 1rem 1rem 2rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3960784314);
  display: flex;
  flex-direction: column;
  width: 22vw;
  padding: 1.5rem;
}
.card .title {
  display: flex;
  justify-content: space-between;
}
.card .img-card {
  margin-bottom: 1rem;
}
.card .img-card img {
  width: 100%;
}
.card .star {
  margin: 0.5rem 0 0.5rem 0;
}
.card .star button {
  border: none;
  background: none;
}
.card .star button:hover {
  cursor: pointer;
}
.card .star svg {
  margin-left: 5px;
  margin-right: 5px;
}
.card .detalle-card {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100px;
  height: 40px;
}
.card .detalle-card h6 {
  color: #fff;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../assets/PPAcma-Semibold.otf);
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #31456a;
}

h1 {
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  font-weight: 600;
}

h3 {
  color: #222222;
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  color: #31456a;
  font-size: 2.5rem;
  font-weight: 400;
}

h5 {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
}

h6 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  color: #222222;
  font-size: 2rem;
}

ul {
  list-style: none;
}

li {
  font-size: 2rem;
  font-weight: 500;
}

a {
  color: #31456a;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}/*# sourceMappingURL=catalogo.css.map */