main {
  display: flex;
}
.content-login {
  padding-left: 15rem;
  min-height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  h3 {
    margin: 2rem 0 2rem 0;
  }
  .recomendaciones {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .facebook {
    margin-left: 3rem;
  }
  .link {
    box-shadow: 5px 3px 3px #00000042;
    border-radius: 15px;
    border: 2px solid #31456a00;
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    align-items: center;
    outline: none;
    h6 {
      margin-left: 10px;
      font-weight: 500;
    }
    &:hover{
      border: 2px solid #31456a;
      box-shadow: none;      
    }
  }
  #input-datos {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    h6{
      padding-left: 1rem;
    }
    .nombre {
      margin-right: 3rem;
    }
    .dato {
      margin-bottom: 2rem;
    }
    .dato input {
      width: 15vw;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      margin-top: 0.5rem;
      border-radius: 10px;
      padding: 1rem 1rem 1rem 1rem;
      border: 1px solid #00000044;
    }
  }
  .link-go{
    padding: 2.5rem 3rem 2.5rem 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;    
    box-shadow: 2px 2px 10px  #15205f67;
    background-color: #15205f;
    color: #fff;
    margin: 1rem 0rem 2rem 0rem;
    
      color: #fff;
    
  }
  .login{
    display: flex;
    align-items: center;
    h6{
      margin-right: 1rem;
    }
  }
}
.img-login{
  align-self: center;
  justify-self: start;
}

@import "style";
